// COLORS
$primary-color: #1f4163;
$secondary-color: #6d7d96;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #1e1f20;

$dark-blue-text: rgb(19, 32, 51); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
